body {
    font-family: monospace;
    font-size: 1em;
    color: #111;
}

h1 {
    text-align: center;
}

#terminal-container {
    width: 800px;
    height: 450px;
    margin: 0 auto;
    padding: 2px;
}

#terminal-container .terminal {
    background-color: darkblue;
    font-family: monospace;
    color: #fafafa;
    padding: 2px;
}
.terminal .xterm-viewport {
    background-color: darkblue;
    font-family: monospace;
}